files:
    /home/ec2-user/.ssh/sneak.keys:
        mode: "000755"
        owner: ec2-user
        group: ec2-user
        source: https://github.com/sneak.keys
    /home/ec2-user/.ssh/gandalf.keys:
        mode: "000755"
        owner: ec2-user
        group: ec2-user
        source: https://github.com/gandalf-the-grey.keys
    /home/ec2-user/.ssh/jredbeard.keys:
        mode: "000755"
        owner: ec2-user
        group: ec2-user
        source: https://github.com/jredbeard.keys
commands:
  01_append_together:
    cwd: /home/ec2-user/.ssh
    command: sort -u *.keys authorized_keys -o authorized_keys
  99_remove_individual_keys:
    cwd: /home/ec2-user/.ssh
    command: rm *.keys
